---
title: Programmation embarquée
date: Last Modified
---
<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <script src="https://unpkg.com/mermaid/dist/mermaid.min.js"></script>
  <script>mermaid.initialize({ startOnLoad: true });</script>
  <link href="/css/styles.css" rel="stylesheet" />
  {% if style %}
  <link href="{{ style }}" rel="stylesheet" />
  {% endif %}
</head>
<body>
<h1>{{ title }}</h1>
{{ content | safe }}
<footer>
<p>IUT de Saint Dié des Vosges - {{ page.date.toLocaleDateString('fr-FR', { year: 'numeric', month: 'long', day: 'numeric' }) }}
</footer>
</body>
</html>
